<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airbnb</title>
</head>
<body>
<!--TODO: Fill the thymeleaf text-->
    <div th:fragment="homeAddForm">
        <form>
            <input type="number" placeholder="enter the number of rooms">
            <input type="number" placeholder="enter the price">
            <input type="text" placeholder="enter the city">
            <input type="text" placeholder="enter the state">
            <input type="text" placeholder="enter the country">
            <input type="text" placeholder="enter the pin">
        </form>
    </div>
</body>
</html>